<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        #wetter {
        background: black;
        color: white;
        border-radius: 0.5em;
        padding: 0.5em;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
        }
    </style>
</head>
<body>
<div>
    <a href="add">Veranstaltung hinzufügen</a> <br><br><br>
</div>


<div>
    <tbody>
    <tr th:if="${veranstaltungen.empty}">
        <td colspan="2"> Leider keine Veranstaltungen vorhanden</td>
    </tr>
    <tr th:each="veranstaltung : ${veranstaltungen}">
        <td><span th:text="${veranstaltung.id}"> id </span></td>
        <td><span th:text="${veranstaltung.ver_name}"> Name </span></td>
        <td><span th:text="${veranstaltung.ort}"> Ort </span></td>
        <td><span th:text="${veranstaltung.beschreibung}"> Beschreibung </span></td>
        <td><span th:text="${veranstaltung.art}"> art </span></td>
        <td><span th:text="${veranstaltung.datum}"> datum </span></td>
        <td><span th:text="${veranstaltung.wetter}" id="wetter"> wetter </span></td><br><br><br>
    </tr>
    </tbody>
</div>
</body>
</html>