<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <script language="javascript" type="text/javascript" src="script.js"></script> <!-- !!!! in static -> script.js !!!! -->

</head>
<body>
<div>
    <table>
        <thead>
        <th><a href="add">Veranstaltung hinzufügen</a></th>
    <th>
        <form action="sort" method="post">
        <label>
        <select name="sort" size="1">
            <option>Alle (auch Vergangenheit)</option>
            <option>Musik</option>
            <option>Fußball</option>
            <option>Party</option>
            <option>Hochzeit</option>
            <option>Essen</option>
        </select>
        </label>
            <input type="submit" value="anzeigen">
        </form></th>

<th>
    <form action="suche" method="post">
        <input type="text" placeholder="Suche nach Veranstaltungen" name="entry">
        <input type="submit" value="Suchen">
    </form>
</th>
        </thead>
    </table>

<div>
    <table>
        <thead >
        <tr>
            <!--<th scope="col" class="tableKopf">ID</th>-->
            <th scope="col" class="tableKopf">Name</th>
            <th scope="col" class="tableKopf">Ort</th>
            <th scope="col" class="tableKopf">Beschreibung</th>
            <th scope="col" class="tableKopf">Art</th>
            <th scope="col" class="tableKopf">Datum</th>
            <th scope="col" id="wetter" class="tableKopf">Wetter</th>
            <th scope="col" id="ranking" class="tableKopf">Ranking</th>
            <th scope="col" class="tableKopf">Bewerten Sie</th>
        </tr>
        </thead>
    <tbody>
    <tr th:if="${veranstaltungen.empty}">
        <td colspan="2"> Leider keine Veranstaltungen vorhanden</td>
    </tr>

    <!-- ist die for Schleife von Tymeleaf, d.h. es wird der Block für alle Veranstaltungen in
        einer übergeben Liste ausgeführt-->
    <tr th:each="veranstaltung : ${veranstaltungen}">


        <!--<td><span th:text="${veranstaltung.id}"> id </span></td>-->
        <td><span th:text="${veranstaltung.ver_name}"> Name </span></td>
        <td><span th:text="${veranstaltung.ort}"> Ort </span></td>
        <td><span th:text="${veranstaltung.beschreibung}"> Beschreibung </span></td>
        <td><span th:text="${veranstaltung.art}"> art </span></td>
        <td><span th:text="${veranstaltung.datum}"> datum </span></td>
        <td><span th:text="${veranstaltung.wetter}" id="wetter"> wetter </span></td>
        <td><span th:text="${veranstaltung.ranking}" id="ranking"> Ranking </span></td>
        <td><form action="voteUp" method="post">
            <input type="hidden" th:value="${veranstaltung.id}" name="id" />
            <input type="hidden" th:value="${veranstaltung.ranking}" name="ranking" />
            <input type="submit" value="gut" ></form>
        <form action="voteDown" method="post">
            <input type="hidden" th:value="${veranstaltung.id}" name="id" />
            <input type="hidden" th:value="${veranstaltung.ranking}" name="ranking" />
            <input type="submit" value="schlecht" ></form>
        </td>
    </tr>

        <br><br><br>

    </tbody>
    </table>
</div>


</body>
</html>